.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.auth-card {
  background: rgba(255, 255, 255, 0.15);
  padding: 2.5rem;
  width: 350px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 0.5rem;
}

.auth-card p {
  margin-bottom: 1.5rem;
  opacity: 0.9;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  outline: none;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #ffffff;
  color: #764ba2;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-btn:hover {
  background: #f1f1f1;
}

.auth-card span {
  display: block;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.auth-card span b {
  text-decoration: underline;
}


